<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="staubli_srdf" params="
        robot_model:=^
        robot_prefix:=^
        robot_model_parameters_file:=^
        arm_base_link:=^
        arm_tip_link:=^
    ">

    <!-- Load robot parameters from YAML file -->
    <xacro:include filename="$(find staubli_robot_description)/urdf/include/staubli_helpers.xacro" />
    <xacro:load_robot_model_config robot_model_config_file="${robot_model_parameters_file}"/>

    <!--GROUPS: Representation of a set of joints and links. This can be useful for specifying DOF to plan for, defining arms, end effectors, etc-->
    <!--LINKS: When a link is specified, the parent joint of that link (if it exists) is automatically included-->
    <!--JOINTS: When a joint is specified, the child link of that joint (which will always exist) is automatically included-->
    <!--CHAINS: When a chain is specified, all the links along the chain (including endpoints) are included in the group. Additionally, all the joints that are parents to included links are also included. This means that joints along the chain and the parent joint of the base link are included in the group-->
    <!--SUBGROUPS: Groups can also be formed by referencing to already defined group names-->
    <group name="${robot_prefix}arm">
        <chain base_link="${arm_base_link}" tip_link="${arm_tip_link}" />
    </group>

    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="${robot_prefix}${link_names[0]}" link2="${robot_prefix}${link_names[1]}" reason="Adjacent"/>
    <disable_collisions link1="${robot_prefix}${link_names[1]}" link2="${robot_prefix}${link_names[2]}" reason="Adjacent"/>
    <disable_collisions link1="${robot_prefix}${link_names[1]}" link2="${robot_prefix}${link_names[3]}" reason="Never"/>
    <disable_collisions link1="${robot_prefix}${link_names[2]}" link2="${robot_prefix}${link_names[3]}" reason="Adjacent"/>
    <disable_collisions link1="${robot_prefix}${link_names[2]}" link2="${robot_prefix}${link_names[4]}" reason="Never"/>
    <disable_collisions link1="${robot_prefix}${link_names[2]}" link2="${robot_prefix}${link_names[5]}" reason="Never"/>
    <disable_collisions link1="${robot_prefix}${link_names[3]}" link2="${robot_prefix}${link_names[4]}" reason="Adjacent"/>
    <disable_collisions link1="${robot_prefix}${link_names[3]}" link2="${robot_prefix}${link_names[5]}" reason="Never"/>
    <disable_collisions link1="${robot_prefix}${link_names[3]}" link2="${robot_prefix}${link_names[6]}" reason="Never"/>
    <disable_collisions link1="${robot_prefix}${link_names[4]}" link2="${robot_prefix}${link_names[5]}" reason="Adjacent"/>
    <disable_collisions link1="${robot_prefix}${link_names[5]}" link2="${robot_prefix}${link_names[6]}" reason="Adjacent"/>

    </xacro:macro>
</robot>
